<app-titulo style="text-align: center;" [titulo]="titulo"></app-titulo>

<!-- npm install @ng-select/ng-select@2.20.5 --save -->
<!-- bindLabel tem como valor nome, pois será o valor da chave nome que está dentro do objeto,
      que está dentro do array entretenimentos, que mostrará os labels, os nomes dos 
      entretenimentos no select
-->

<div class="form-row col-md-12">
  <div class="col-md-5">
    <ng-select [items]= "entretenimentos" bindLabel= "nome" placeholder="Selecione um entretenimento" 
      [(ngModel)] = "entretenimentoSelecionado">
    </ng-select>
  </div>

  <div class="col-md-5">
    <ng-select [items]= "generos" bindLabel= "nome" placeholder="Selecione um gênero"
      [(ngModel)] = "generoSelecionado">
    </ng-select>
  </div>
  
  <div class="col-md-2">
    <button class="btn btn-primary" style="margin-top: 15px" type="submit" 
      (click)="salvarEntretenimentoGenero()">
      Salvar
    </button>
  </div>
</div>
