/*!
 * Project_Name: Themezy Movie Review
 * Author: Themezy
 * Email: info@themezy.com
 * URL: http://themezy.com
 */
 article,
 aside,
 details,
 figcaption,
 figure,
 footer,
 header,
 hgroup,
 nav,
 section,
 summary {
   display: block; }
 
 audio,
 canvas,
 video {
   display: inline-block; }
 
 audio:not([controls]) {
   display: none;
   height: 0; }
 
 [hidden], template {
   display: none; }
 
 html {
   background: #fff;
   color: #000;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%; }
 
 html,
 input,
 select,
 textarea {
   font-family: sans-serif; }
 
 body {
   margin: 0; }
 
 a {
   background: transparent; }
   a:focus {
     outline: thin dotted; }
   a:hover, a:active {
     outline: 0; }
 
 h1 {
   font-size: 2em;
   margin: 0.67em 0; }
 
 h2 {
   font-size: 1.5em;
   margin: 0.83em 0; }
 
 h3 {
   font-size: 1.17em;
   margin: 1em 0; }
 
 h4 {
   font-size: 1em;
   margin: 1.33em 0; }
 
 h5 {
   font-size: 0.83em;
   margin: 1.67em 0; }
 
 h6 {
   font-size: 0.75em;
   margin: 2.33em 0; }
 
 abbr[title] {
   border-bottom: 1px dotted; }
 
 b,
 strong {
   font-weight: bold; }
 
 dfn {
   font-style: italic; }
 
 mark {
   background: #ff0;
   color: #000; }
 
 code,
 kbd,
 pre,
 samp {
   font-family: monospace, serif;
   font-size: 1em; }
 
 pre {
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word; }
 
 q {
   quotes: "\201C" "\201D" "\2018" "\2019"; }
 
 q:before,
 q:after {
   content: '';
   content: none; }
 
 small {
   font-size: 80%; }
 
 sub,
 sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline; }
 
 sup {
   top: -0.5em; }
 
 sub {
   bottom: -0.25em; }
 
 img {
   border: 0; }
 
 svg:not(:root) {
   overflow: hidden; }
 
 figure {
   margin: 0; }
 
 fieldset {
   border: 1px solid #c0c0c0;
   margin: 0 2px;
   padding: 0.35em 0.625em 0.75em; }
 
 legend {
   border: 0;
   padding: 0;
   white-space: normal; }
 
 textarea {
   overflow: auto;
   vertical-align: top; }
 
 table {
   border-collapse: collapse;
   border-spacing: 0; }
 
 *, *:before, *:after {
   -moz-box-sizing: border-box;
        box-sizing: border-box; }
 
 body {
   background-position: top center;
   background-repeat: no-repeat;
   color: #84878d;
   font-family: "Roboto", "Open Sans", sans-serif;
   font-size: 15px;
   font-weight: 400;
   line-height: normal; }
 
 h1, h2, h3, h4, h5, h6 {
   font-weight: 700;
   margin: 0 0 20px; }
 
 ul, ol {
   margin: 0;
   padding-left: 0; }
 
 a {
   text-decoration: none;
   color: #ffaa3c; }
 
 .slider {
   position: relative;
   margin-bottom: 30px; }
 .slider .slides {
   list-style: none;
   *zoom: 1; }
   .slider .slides:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
 .slider li {
   border-radius: 5px;
   overflow: hidden; }
 .slider img {
   max-width: 100%;
   width: 100%;
   height: auto;
   display: block; }
 .slider .flex-direction-nav {
   list-style: none;
   z-index: 2;
   position: absolute;
   top: 45%;
   width: 100%; }
   .slider .flex-direction-nav a {
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background: white;
     text-align: center;
     line-height: 2.5;
     font-size: 18px;
     font-size: 1.2em;
     display: block;
     position: absolute;
     -webkit-transition: .3s ease;
             transition: .3s ease; }
     .slider .flex-direction-nav a:hover {
       background-color: #ffaa3c;
       color: white; }
   .slider .flex-direction-nav .flex-prev {
     left: 30px; }
   .slider .flex-direction-nav .flex-next {
     right: 30px; }
 
 .latest-movie {
   margin-bottom: 23px;
   border-radius: 5px;
   overflow: hidden; }
   .latest-movie img {
     max-width: 100%;
     width: 100%;
     display: block;
     height: auto; }
 
 .container {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1; }
 .container:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0; }
 @media (min-width: 768px) {
   .container {
     width: 750px; } }
 @media (min-width: 992px) {
   .container {
     width: 970px; } }
 @media (min-width: 1200px) {
   .container {
     width: 1170px; } }
 
 .container-fluid {
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
   *zoom: 1; }
   .container-fluid:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
 
 .row {
   margin-left: -15px;
   margin-right: -15px;
   *zoom: 1; }
   .row:after {
     content: " ";
     clear: both;
     display: block;
     overflow: hidden;
     height: 0; }
 
 .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
   position: relative;
   min-height: 1px;
   padding-left: 15px;
   padding-right: 15px; }
 
 .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
   float: left; }
 
 .col-xs-1 {
   width: 8.3333333333%; }
 
 .col-xs-2 {
   width: 16.6666666667%; }
 
 .col-xs-3 {
   width: 25%; }
 
 .col-xs-4 {
   width: 33.3333333333%; }
 
 .col-xs-5 {
   width: 41.6666666667%; }
 
 .col-xs-6 {
   width: 50%; }
 
 .col-xs-7 {
   width: 58.3333333333%; }
 
 .col-xs-8 {
   width: 66.6666666667%; }
 
 .col-xs-9 {
   width: 75%; }
 
 .col-xs-10 {
   width: 83.3333333333%; }
 
 .col-xs-11 {
   width: 91.6666666667%; }
 
 .col-xs-12 {
   width: 100%; }
 
 .col-xs-pull-0 {
   right: auto; }
 
 .col-xs-pull-1 {
   right: 8.3333333333%; }
 
 .col-xs-pull-2 {
   right: 16.6666666667%; }
 
 .col-xs-pull-3 {
   right: 25%; }
 
 .col-xs-pull-4 {
   right: 33.3333333333%; }
 
 .col-xs-pull-5 {
   right: 41.6666666667%; }
 
 .col-xs-pull-6 {
   right: 50%; }
 
 .col-xs-pull-7 {
   right: 58.3333333333%; }
 
 .col-xs-pull-8 {
   right: 66.6666666667%; }
 
 .col-xs-pull-9 {
   right: 75%; }
 
 .col-xs-pull-10 {
   right: 83.3333333333%; }
 
 .col-xs-pull-11 {
   right: 91.6666666667%; }
 
 .col-xs-pull-12 {
   right: 100%; }
 
 .col-xs-push-0 {
   left: auto; }
 
 .col-xs-push-1 {
   left: 8.3333333333%; }
 
 .col-xs-push-2 {
   left: 16.6666666667%; }
 
 .col-xs-push-3 {
   left: 25%; }
 
 .col-xs-push-4 {
   left: 33.3333333333%; }
 
 .col-xs-push-5 {
   left: 41.6666666667%; }
 
 .col-xs-push-6 {
   left: 50%; }
 
 .col-xs-push-7 {
   left: 58.3333333333%; }
 
 .col-xs-push-8 {
   left: 66.6666666667%; }
 
 .col-xs-push-9 {
   left: 75%; }
 
 .col-xs-push-10 {
   left: 83.3333333333%; }
 
 .col-xs-push-11 {
   left: 91.6666666667%; }
 
 .col-xs-push-12 {
   left: 100%; }
 
 .col-xs-offset-0 {
   margin-left: 0%; }
 
 .col-xs-offset-1 {
   margin-left: 8.3333333333%; }
 
 .col-xs-offset-2 {
   margin-left: 16.6666666667%; }
 
 .col-xs-offset-3 {
   margin-left: 25%; }
 
 .col-xs-offset-4 {
   margin-left: 33.3333333333%; }
 
 .col-xs-offset-5 {
   margin-left: 41.6666666667%; }
 
 .col-xs-offset-6 {
   margin-left: 50%; }
 
 .col-xs-offset-7 {
   margin-left: 58.3333333333%; }
 
 .col-xs-offset-8 {
   margin-left: 66.6666666667%; }
 
 .col-xs-offset-9 {
   margin-left: 75%; }
 
 .col-xs-offset-10 {
   margin-left: 83.3333333333%; }
 
 .col-xs-offset-11 {
   margin-left: 91.6666666667%; }
 
 .col-xs-offset-12 {
   margin-left: 100%; }
 
 @media (min-width: 768px) {
   .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
     float: left; }
 
 .col-sm-1 {
   width: 8.3333333333%; }
 
 .col-sm-2 {
   width: 16.6666666667%; }
 
 .col-sm-3 {
   width: 25%; }
 
 .col-sm-4 {
   width: 33.3333333333%; }
 
 .col-sm-5 {
   width: 41.6666666667%; }
 
 .col-sm-6 {
   width: 50%; }
 
 .col-sm-7 {
   width: 58.3333333333%; }
 
 .col-sm-8 {
   width: 66.6666666667%; }
 
 .col-sm-9 {
   width: 75%; }
 
 .col-sm-10 {
   width: 83.3333333333%; }
 
 .col-sm-11 {
   width: 91.6666666667%; }
 
 .col-sm-12 {
   width: 100%; }
 
 .col-sm-pull-0 {
   right: auto; }
 
 .col-sm-pull-1 {
   right: 8.3333333333%; }
 
 .col-sm-pull-2 {
   right: 16.6666666667%; }
 
 .col-sm-pull-3 {
   right: 25%; }
 
 .col-sm-pull-4 {
   right: 33.3333333333%; }
 
 .col-sm-pull-5 {
   right: 41.6666666667%; }
 
 .col-sm-pull-6 {
   right: 50%; }
 
 .col-sm-pull-7 {
   right: 58.3333333333%; }
 
 .col-sm-pull-8 {
   right: 66.6666666667%; }
 
 .col-sm-pull-9 {
   right: 75%; }
 
 .col-sm-pull-10 {
   right: 83.3333333333%; }
 
 .col-sm-pull-11 {
   right: 91.6666666667%; }
 
 .col-sm-pull-12 {
   right: 100%; }
 
 .col-sm-push-0 {
   left: auto; }
 
 .col-sm-push-1 {
   left: 8.3333333333%; }
 
 .col-sm-push-2 {
   left: 16.6666666667%; }
 
 .col-sm-push-3 {
   left: 25%; }
 
 .col-sm-push-4 {
   left: 33.3333333333%; }
 
 .col-sm-push-5 {
   left: 41.6666666667%; }
 
 .col-sm-push-6 {
   left: 50%; }
 
 .col-sm-push-7 {
   left: 58.3333333333%; }
 
 .col-sm-push-8 {
   left: 66.6666666667%; }
 
 .col-sm-push-9 {
   left: 75%; }
 
 .col-sm-push-10 {
   left: 83.3333333333%; }
 
 .col-sm-push-11 {
   left: 91.6666666667%; }
 
 .col-sm-push-12 {
   left: 100%; }
 
 .col-sm-offset-0 {
   margin-left: 0%; }
 
 .col-sm-offset-1 {
   margin-left: 8.3333333333%; }
 
 .col-sm-offset-2 {
   margin-left: 16.6666666667%; }
 
 .col-sm-offset-3 {
   margin-left: 25%; }
 
 .col-sm-offset-4 {
   margin-left: 33.3333333333%; }
 
 .col-sm-offset-5 {
   margin-left: 41.6666666667%; }
 
 .col-sm-offset-6 {
   margin-left: 50%; }
 
 .col-sm-offset-7 {
   margin-left: 58.3333333333%; }
 
 .col-sm-offset-8 {
   margin-left: 66.6666666667%; }
 
 .col-sm-offset-9 {
   margin-left: 75%; }
 
 .col-sm-offset-10 {
   margin-left: 83.3333333333%; }
 
 .col-sm-offset-11 {
   margin-left: 91.6666666667%; }
 
 .col-sm-offset-12 {
   margin-left: 100%; } }
 @media (min-width: 992px) {
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
     float: left; }
 
 .col-md-1 {
   width: 8.3333333333%; }
 
 .col-md-2 {
   width: 16.6666666667%; }
 
 .col-md-3 {
   width: 25%; }
 
 .col-md-4 {
   width: 33.3333333333%; }
 
 .col-md-5 {
   width: 41.6666666667%; }
 
 .col-md-6 {
   width: 50%; }
 
 .col-md-7 {
   width: 58.3333333333%; }
 
 .col-md-8 {
   width: 66.6666666667%; }
 
 .col-md-9 {
   width: 75%; }
 
 .col-md-10 {
   width: 83.3333333333%; }
 
 .col-md-11 {
   width: 91.6666666667%; }
 
 .col-md-12 {
   width: 100%; }
 
 .col-md-pull-0 {
   right: auto; }
 
 .col-md-pull-1 {
   right: 8.3333333333%; }
 
 .col-md-pull-2 {
   right: 16.6666666667%; }
 
 .col-md-pull-3 {
   right: 25%; }
 
 .col-md-pull-4 {
   right: 33.3333333333%; }
 
 .col-md-pull-5 {
   right: 41.6666666667%; }
 
 .col-md-pull-6 {
   right: 50%; }
 
 .col-md-pull-7 {
   right: 58.3333333333%; }
 
 .col-md-pull-8 {
   right: 66.6666666667%; }
 
 .col-md-pull-9 {
   right: 75%; }
 
 .col-md-pull-10 {
   right: 83.3333333333%; }
 
 .col-md-pull-11 {
   right: 91.6666666667%; }
 
 .col-md-pull-12 {
   right: 100%; }
 
 .col-md-push-0 {
   left: auto; }
 
 .col-md-push-1 {
   left: 8.3333333333%; }
 
 .col-md-push-2 {
   left: 16.6666666667%; }
 
 .col-md-push-3 {
   left: 25%; }
 
 .col-md-push-4 {
   left: 33.3333333333%; }
 
 .col-md-push-5 {
   left: 41.6666666667%; }
 
 .col-md-push-6 {
   left: 50%; }
 
 .col-md-push-7 {
   left: 58.3333333333%; }
 
 .col-md-push-8 {
   left: 66.6666666667%; }
 
 .col-md-push-9 {
   left: 75%; }
 
 .col-md-push-10 {
   left: 83.3333333333%; }
 
 .col-md-push-11 {
   left: 91.6666666667%; }
 
 .col-md-push-12 {
   left: 100%; }
 
 .col-md-offset-0 {
   margin-left: 0%; }
 
 .col-md-offset-1 {
   margin-left: 8.3333333333%; }
 
 .col-md-offset-2 {
   margin-left: 16.6666666667%; }
 
 .col-md-offset-3 {
   margin-left: 25%; }
 
 .col-md-offset-4 {
   margin-left: 33.3333333333%; }
 
 .col-md-offset-5 {
   margin-left: 41.6666666667%; }
 
 .col-md-offset-6 {
   margin-left: 50%; }
 
 .col-md-offset-7 {
   margin-left: 58.3333333333%; }
 
 .col-md-offset-8 {
   margin-left: 66.6666666667%; }
 
 .col-md-offset-9 {
   margin-left: 75%; }
 
 .col-md-offset-10 {
   margin-left: 83.3333333333%; }
 
 .col-md-offset-11 {
   margin-left: 91.6666666667%; }
 
 .col-md-offset-12 {
   margin-left: 100%; } }
 @media (min-width: 1200px) {
   .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
     float: left; }
 
 .col-lg-1 {
   width: 8.3333333333%; }
 
 .col-lg-2 {
   width: 16.6666666667%; }
 
 .col-lg-3 {
   width: 25%; }
 
 .col-lg-4 {
   width: 33.3333333333%; }
 
 .col-lg-5 {
   width: 41.6666666667%; }
 
 .col-lg-6 {
   width: 50%; }
 
 .col-lg-7 {
   width: 58.3333333333%; }
 
 .col-lg-8 {
   width: 66.6666666667%; }
 
 .col-lg-9 {
   width: 75%; }
 
 .col-lg-10 {
   width: 83.3333333333%; }
 
 .col-lg-11 {
   width: 91.6666666667%; }
 
 .col-lg-12 {
   width: 100%; }
 
 .col-lg-pull-0 {
   right: auto; }
 
 .col-lg-pull-1 {
   right: 8.3333333333%; }
 
 .col-lg-pull-2 {
   right: 16.6666666667%; }
 
 .col-lg-pull-3 {
   right: 25%; }
 
 .col-lg-pull-4 {
   right: 33.3333333333%; }
 
 .col-lg-pull-5 {
   right: 41.6666666667%; }
 
 .col-lg-pull-6 {
   right: 50%; }
 
 .col-lg-pull-7 {
   right: 58.3333333333%; }
 
 .col-lg-pull-8 {
   right: 66.6666666667%; }
 
 .col-lg-pull-9 {
   right: 75%; }
 
 .col-lg-pull-10 {
   right: 83.3333333333%; }
 
 .col-lg-pull-11 {
   right: 91.6666666667%; }
 
 .col-lg-pull-12 {
   right: 100%; }
 
 .col-lg-push-0 {
   left: auto; }
 
 .col-lg-push-1 {
   left: 8.3333333333%; }
 
 .col-lg-push-2 {
   left: 16.6666666667%; }
 
 .col-lg-push-3 {
   left: 25%; }
 
 .col-lg-push-4 {
   left: 33.3333333333%; }
 
 .col-lg-push-5 {
   left: 41.6666666667%; }
 
 .col-lg-push-6 {
   left: 50%; }
 
 .col-lg-push-7 {
   left: 58.3333333333%; }
 
 .col-lg-push-8 {
   left: 66.6666666667%; }
 
 .col-lg-push-9 {
   left: 75%; }
 
 .col-lg-push-10 {
   left: 83.3333333333%; }
 
 .col-lg-push-11 {
   left: 91.6666666667%; }
 
 .col-lg-push-12 {
   left: 100%; }
 
 .col-lg-offset-0 {
   margin-left: 0%; }
 
 .col-lg-offset-1 {
   margin-left: 8.3333333333%; }
 
 .col-lg-offset-2 {
   margin-left: 16.6666666667%; }
 
 .col-lg-offset-3 {
   margin-left: 25%; }
 
 .col-lg-offset-4 {
   margin-left: 33.3333333333%; }
 
 .col-lg-offset-5 {
   margin-left: 41.6666666667%; }
 
 .col-lg-offset-6 {
   margin-left: 50%; }
 
 .col-lg-offset-7 {
   margin-left: 58.3333333333%; }
 
 .col-lg-offset-8 {
   margin-left: 66.6666666667%; }
 
 .col-lg-offset-9 {
   margin-left: 75%; }
 
 .col-lg-offset-10 {
   margin-left: 83.3333333333%; }
 
 .col-lg-offset-11 {
   margin-left: 91.6666666667%; }
 
 .col-lg-offset-12 {
   margin-left: 100%; } }
 
 .site-header {
   padding: 50px 0;
   *zoom: 1; }
 .site-header:after {
   content: " ";
   clear: both;
   display: block;
   overflow: hidden;
   height: 0; }
 
 #branding {
   float: left; }
 #branding .logo, #branding .logo-copy {
   display: inline-block; }
 #branding .logo {
   margin-right: 10px; }
 #branding .site-title {
   margin: 0;
   text-transform: uppercase;
   color: white;
   font-size: 16px;
   font-size: 1.0666666667em; }
   #branding .site-title a {
     color: white; }
 #branding .site-description {
   font-size: 13px;
   font-size: 0.8666666667em;
   color: #9198af; }
 
 .main-content .container {
   background: white;
   border-radius: 5px;
   padding: 30px; }
 