<app-titulo class="text-center" [titulo]= 'tituloEntretenimento'></app-titulo>

<button class="btn btn-sm btn-success float-right" tooltip="Adicionar"
  (click)="novoEntretenimento(modalEntretenimento)">
  Adicionar
</button>

<!-- tabela -->

<table class="table table-striped">
  <thead>
    <tr>
      <th style="text-align: center;">
        <button class="bt btn-outline-primary" (click)="alternarImagem()">
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th style="text-align: center;">Id</th>
      <th style="text-align: center;">Nome</th>
      <th style="text-align: center;">Sinopse</th>
      <th style="text-align: center;">Ano</th>
      <th style="text-align: center;">Classificação Etária</th>
      <th style="text-align: center;">Duração</th>
      <th style="text-align: center;">Categoria</th>
      <th style="text-align: center;">Gênero</th>
      <th style="text-align: center;">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="entretenimentos && entretenimentos.length">
    <tr *ngFor="let entretenimento of entretenimentos;" [@fadeInOut]>
      <td class="text-center">
        <img *ngIf="mostrarImagem"
             src="http://localhost:5000/resources/images/{{entretenimento.entretenimentoDto.urlImagem}}?ts={{dataAtual}}"
             [style.width.px]  = "imagemLargura"
             [style.margin.px] = "imagemMargem">
      </td>
      <td class="text-center">{{entretenimento.entretenimentoDto.id}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.nome}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.sinopse}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.ano}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.classificacaoEtaria}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.duracao}}</td>
      <td class="text-center">{{entretenimento.entretenimentoDto.categoria.nome}}</td>
      <td class="text-center">
        <button class="btn btn-secondary btn-sm" tooltip="Visualizar Gêneros"
          (click)="openModal(modalVisualizarGeneros, entretenimento.entretenimentoDto.id)">
          <i class="fa fa-eye"></i>
        </button>
      </td>
      <td class="text-center">
        <div class="btn-group">
          <button class="btn btn-sm btn-primary" tooltip="Editar"
            (click)="editarEntretenimento(entretenimento['entretenimentoDto'], modalEntretenimento)">
            <i class="fa fa-edit"></i>
          </button>

          <button class="btn btn-sm btn-danger" tooltip="Excluir"
            (click)="excluirEntretenimento(entretenimento['entretenimentoDto'], confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <td colspan="9" class="text-center" *ngIf="!entretenimentos">
      <h4>Nenhum entretenimento encontrado</h4>
    </td>
  </tfoot>
</table>

<!-- modal de visualização de gêneros -->
<div bsModal #modalVisualizarGeneros="bs-modal" class="modal fade" tabindex="-1"  role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mx-auto">Gêneros</h4>
      </div>
      <div class="modal-body">
        <table class="table table-striped" 
          *ngIf="generosEntretenimentos && generosEntretenimentos.length">
          <tbody *ngFor="let genero of generosEntretenimentos; let posGenero = index;">
            <tr *ngIf="genero[0] && genero[0].length">
              <td *ngIf="genero[0][0] === idEntretenimento;">{{genero[0][1]}}</td>
              <td *ngIf="genero[0][0] !== idEntretenimento && posGenero === 0;">
                <h4>Nenhum gênero foi encontrado</h4>
              </td>
            </tr>
          </tbody>
        </table>
        <tfoot>
          <div class="form-row" *ngIf="!generosEntretenimentos[0].length">
            <h4>Nenhum gênero foi encontrado</h4>
          </div>
          <div class="form-row">
            <button type="button" class="btn btn-danger float-left" 
              (click)="hideModal(modalVisualizarGeneros)">
              Fechar
            </button>
          </div>
        </tfoot>
      </div>
    </div>
  </div>
</div>

<!-- Modal de criação de entretenimento -->

<div bsModal #modalEntretenimento="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title mx-auto">Entretenimento</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Nome</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : 
                registerForm.get('nome').errors && registerForm.get('nome').touched}"
                formControlName="nome">
              <div *ngIf="registerForm.get('nome').hasError('required') && 
                registerForm.get('nome').touched" class="invalid-feedback">
                Nome é obrigatório
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <label>Sinopse</label>
              <textarea class="form-control" style="resize: none" [ngClass]="{'is-invalid' : 
              registerForm.get('sinopse').errors && registerForm.get('sinopse').touched}"
              formControlName="sinopse"></textarea>
              <div *ngIf="registerForm.get('sinopse').hasError('required') && 
                registerForm.get('sinopse').touched" class="invalid-feedback">
                Sinopse é obrigatório
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Ano</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : 
              registerForm.get('ano').errors && registerForm.get('ano').touched}"
              formControlName="ano">
              <div *ngIf="registerForm.get('ano').hasError('required') && 
                registerForm.get('ano').touched" class="invalid-feedback">
                Ano é obrigatório
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Classificação Etária</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : 
              registerForm.get('classificacaoEtaria').errors && 
                registerForm.get('classificacaoEtaria').touched}"
              formControlName="classificacaoEtaria">
              <div *ngIf="registerForm.get('classificacaoEtaria').hasError('required') && 
                registerForm.get('classificacaoEtaria').touched" class="invalid-feedback">
                Classificação Etária é obrigatório
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Duração</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid' : 
                registerForm.get('duracao').errors && registerForm.get('duracao').touched}"
                formControlName="duracao">
              <div *ngIf="registerForm.get('duracao').hasError('required') && 
                registerForm.get('duracao').touched" class="invalid-feedback">
                Duração é obrigatório
              </div>
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Categoria</label>
              <select class="form-control" [ngClass]="{'is-invalid' : 
                registerForm.get('categoriaId').errors && registerForm.get('categoriaId').touched}" 
                formControlName="categoriaId">
                <option value="1">Série</option>
                <option value="2">Filme</option>
              </select>
              <div *ngIf="registerForm.get('categoriaId').hasError('required') &&
                registerForm.get('categoriaId').touched" class="invalid-feedback">
                Categoria é obrigatório
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Imagem</label>
              <button class="btn btn-primary d-block" style="width:100%"
                (click)="file.click()">Enviar Foto</button>

              <input type="file" #file class="form-control" style="display: none;"
                (change)="onFileChange($event)" formControlName="urlImagem">
            </div>
          </div>
          
          <div class="form-row">
            <div class="col-md-6">
              <button type="button" class="btn btn-danger float-left" 
                (click)="hideModal(modalEntretenimento)">
              Fechar
              </button>
            </div>
            
            <div class="col-md-6">
              <button type="submit" class="btn btn-success float-right" [disabled]="!registerForm.valid"
                (click)="salvarEntretenimento(modalEntretenimento)">Salvar Alterações</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- modal de deleção de entretenimento -->

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Entretenimento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEntretenimento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>
