<app-titulo [titulo]="titulo"></app-titulo>

<body class="text-center" data-gr-c-s-loaded="true">
  <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
    <img class="mb-4" src="" alt="" width="72" height="72">
    <label for="username" class="sr-only">Usuário</label>
    <input type="email" id="username" class="form-control" placeholder="Usuário"
    name="username" required [(ngModel)]="model.username">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" placeholder="Senha"
    name="password" required [(ngModel)]="model.password">

    <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    
    <p class="mt-5 mb-3 text-muted">Não tem login? Cadastre-se abaixo</p>
    <button class="btn btn-lg btn-link btn-block" (click)="router.navigate(['/user/register'])">Cadastrar</button>
  </form>  
</body>